# Dependências
node_modules/

# Builds e saídas temporárias
android/app/build/
ios/build/
ios/Pods/

# Configurações do sistema / IDE
*.log
*.tmp
.DS_Store
.vscode/
.idea/

# Arquivos gerados automaticamente
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.keystore
*.jks

# Cache
.expo/
.expo-shared/
babel-loader-cache/
metro-cache/
*.expo

# Outros
coverage/
